@media screen and (min-width: 240px) {
    #day-view, #hour-view, #minute-view {
        margin-bottom: 48px;
        display: flex;
        justify-content: center;
    }

    #day-view-divider, #hour-view-divider, #minute-view-divider {
        display: none;
    }
}

@media screen and (min-width: 1110px) {
    #day-view, #hour-view, #minute-view {
        margin-bottom: 0px;
        display: inline-flex;
        justify-content: left;
    }

    #day-view-divider, #hour-view-divider, #minute-view-divider {
        display: inline-flex;
    }
}
