@import '../../../scss/value.scss';

@media screen and (min-width: $small-width) {
    .box {
        justify-content: center;
        display: flex;
            
        .label-view {
            bottom: -$font-size-small;
            display: flex;
            position: absolute;
        }
    }
}

@media screen and (min-width: $large-width) {
    .box {
        display: inline-flex;
            
        .label-view {
            bottom: 0;
            display: inline-flex;
            position: relative;
        }
    }
}


.box {
    position: relative;

    .label-view {
        font-size: $font-size-small;
        font-weight: 100;
    }
}
