@import '../../../scss/value.scss';

@media screen and (min-width: 240px) {
    .divider-view {
        font-size: $font-size-medium;
    }
}

@media screen and (min-width: 1110px) {
    .divider-view {
        font-size: $font-size-large;
    }
}

.divider-view {
    font-weight: 900;
    display: inline-flex;
}
