@import '../../../scss/value.scss';

@media screen and (min-width: $small-width) {
    .divider-view {
        font-size: $font-size-medium;
    }
}

@media screen and (min-width: $large-width) {
    .divider-view {
        font-size: $font-size-large;
    }
}

.divider-view {
    font-weight: 900;
    display: inline-flex;
}
