@import '../../../../scss/value.scss';

.character-view {
    position: relative;
    display: inline-flex;

    .prev-char-view {
        position: absolute;
    }
}



@media screen and (min-width: $small-width) {
    .changing {
    
        .prev-char-view {
            transition: transform 0.5s, opacity 0.5s ease-out;
            transform: rotateX(45deg) translateY(-$font-size-medium * 1.5);
            opacity: 0;
        }
    }
}

@media screen and (min-width: $large-width) {
    .changing {
    
        .prev-char-view {
            transition: transform 0.5s, opacity 0.5s ease-out;
            transform: rotateX(45deg) translateY(-$font-size-large * 1.5);
            opacity: 0;
        }
    }
}
