@import '../../../scss/value.scss';

@media screen and (min-width: $small-width) {
    .value-view {
        font-size: $font-size-medium;
    }
}

@media screen and (min-width: $large-width) {
    .value-view {
        font-size: $font-size-large;
    }
}

.value-view {
    font-weight: 100;
    display: inline-flex;
    position: relative;
}
