@import '../../../scss/value.scss';

@media screen and (min-width: 412px) {
    .value-view {
        font-size: $font-size-medium;
    }
}

@media screen and (min-width: 1110px) {
    .value-view {
        font-size: $font-size-large;
    }
}

.value-view {
    font-weight: 100;
    display: inline-flex;

    .label-view {
        font-size: $font-size-small;
        font-weight: 100;
        display: inline-flex;
    }
}
