@import '../../../scss/value.scss';

.number-view {
    font-size: $font-size-large;
    font-weight: 100;
    display: inline-flex;

    .label-view {
        font-size: $font-size-small;
        font-weight: 100;
        display: inline-flex;
    }
}
